<div class="flex-container">

    <div class="contact-container">
        <div class="links-container">
            <a class="links-element" href="https://wa.me/5521865843" target="_blank" rel="noopener">
                WhatsApp
                <span class="material-symbols-outlined">open_in_new</span>
            </a>
            <a class="links-element" href="mailto:virelprint@gmail.com" target="_blank" rel="noopener">
                Correo
                <span class="material-symbols-outlined">open_in_new</span>
            </a>
            <a class="links-element" href="">
                Instagram
                <span class="material-symbols-outlined">open_in_new</span>
            </a>
            <a class="links-element" href="">
                Facebook
                <span class="material-symbols-outlined">open_in_new</span>
            </a>
            <a class="links-element full-width" href="portfolio">
                Portafolio
                <span class="material-symbols-outlined">open_in_new</span>
            </a>
        </div>
    </div>


    <div class="img-container">
        <div class="img-element">
            <img src="https://media.istockphoto.com/id/1138429558/es/foto/hileras-de-estantes.jpg?s=612x612&w=0&k=20&c=JHGeEoZIrY9MrSBcX7CGLU9TLjeoJz9mEtW7Mhk6Iuw=" alt="img">
            <p class="info-img">México, CDMX, Benito Juarez</p>
        </div>
    </div>

</div>
