.flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: var(--margin-md);
    margin-top: 6rem;
    padding: var(--padding-md);
    gap: var(--gap-md);
}