<div class="flex-container">

    <div class="flex">
      <h2>Odontología</h2> 
      <hr>
        <div class="portfolio-container">

            <div class="flex portfolio-card">
              <img src="../../../assets/images/alineadores.jpg" alt="alineadores">
                <div class="portfolio-card-element">
                  <h4>Alineadores</h4>
                  <p>Ofrecen un ajuste preciso y un confort superior. Aseguran una adaptación exacta a la estructura dental del paciente. </p>
                </div>
            </div> 

            <div class="flex portfolio-card">
              <img src="../../../assets/images/modelo_plataforma.jpg" alt="modelo plataforma">
                <div class="portfolio-card-element">
                  <h4>Modelo Plataforma</h4>
                  <p>Ofrecen una representación precisa de la anatomía bucal del paciente, ideales para diagnóstico, diseño de prótesis o presentación de casos.</p>
                </div>
            </div>

            <div class="flex portfolio-card">
              <img src="../../../assets/images/guias_quirurgicas.jpg" alt="print">
                <div class="portfolio-card-element">
                  <h4>Guias Quirurgicas</h4>
                  <p>Facilitan intervenciones como la colocación de implantes dentales, asegurando exactitud en la angulación y profundidad según el plan quirúrgico digital.</p>
                </div>
            </div>
            
            <div class="flex portfolio-card">
              <img src="../../../assets/images/modelo_plataforma_gris.jpg" alt="print">
                <div class="portfolio-card-element">
                  <h4>Modelo Plataforma</h4>
                  <p>Estos modelos permiten optimizar la producción en clínicas y laboratorios, reduciendo tiempos de trabajo sin comprometer calidad.</p>
                </div>
            </div>

        </div>
    </div>

    <div class="flex">
      <h2>Prototipos Funcionales</h2> 
      <hr>
        <div class="portfolio-container">

            <div class="flex portfolio-card">
              <img src="../../../assets/images/engranajes.jpg" alt="engranajes">
                <div class="portfolio-card-element">
                  <h4>Engranajes 3D</h4>
                  <p>Fabricamos engranajes personalizados mediante impresión FDM para simular o implementar sistemas de transmisión mecánica.</p>
                </div>
            </div> 

            <div class="flex portfolio-card">
              <img  src="../../../assets/images/poleas.png" alt="poleas">
                <div class="portfolio-card-element">
                  <h4>Poleas impresas</h4>
                  <p>Permiten comprobar relaciones de resistencia en sistemas mecánicos reales. Perfectas para pruebas de física, robótica o mecánica básica. </p>
                </div>
            </div>

            <div class="flex portfolio-card">
              <img src="../../../assets/images/robot.jpg" alt="módulo mecánico">
                <div class="portfolio-card-element">
                  <h4>Módulos Mecánicos</h4>
                  <p>Construye prototipos robóticos articulados, resistentes y listos para integrar electrónica o pruebas estructurales.</p>
                </div>
            </div>
            
            <div class="flex portfolio-card">
              <img src="../../../assets/images/prototipo.jpg" alt="prototipo">
                <div class="portfolio-card-element">
                  <h4>Prototipos de Movimiento</h4>
                  <p>Desde sistemas de engranajes hasta mecanismos de leva, nuestras impresiones en FDM permiten validar el movimiento real de tus ideas.</p>
                </div>
            </div>

        </div>
    </div>

    <div class="flex">
      <h2>Modelos Educativos</h2> 
      <hr>
        <div class="portfolio-container">

            <div class="flex portfolio-card">
              <img src="https://www.digitaltrends.com/wp-content/uploads/2017/05/T-rex-shower-head.png?fit=970%2C647&p=1" alt="print">
                <div class="portfolio-card-element">
                  <h4>Dinosaurio</h4>
                  <p>Cabecera asldkfjañslkdfj añslkdjfñasldkfj añlskdjfañsdkfj añslkdjfañslkdjf </p>
                </div>
            </div> 

            <div class="flex portfolio-card">
              <img src="https://www.digitaltrends.com/wp-content/uploads/2017/05/T-rex-shower-head.png?fit=970%2C647&p=1" alt="print">
                <div class="portfolio-card-element">
                  <h4>Dinosaurio</h4>
                  <p>Cabecera asldkfjañslkdfj añslkdjfñasldkfj añlskdjfañsdkfj añslkdjfañslkdjf </p>
                </div>
            </div>

            <div class="flex portfolio-card">
              <img src="https://www.digitaltrends.com/wp-content/uploads/2017/05/T-rex-shower-head.png?fit=970%2C647&p=1" alt="print">
                <div class="portfolio-card-element">
                  <h4>Dinosaurio</h4>
                  <p>Cabecera asldkfjañslkdfj añslkdjfñasldkfj añlskdjfañsdkfj añslkdjfañslkdjf </p>
                </div>
            </div>
            
            <div class="flex portfolio-card">
              <img src="https://www.digitaltrends.com/wp-content/uploads/2017/05/T-rex-shower-head.png?fit=970%2C647&p=1" alt="print">
                <div class="portfolio-card-element">
                  <h4>Dinosaurio</h4>
                  <p>Cabecera asldkfjañslkdfj añslkdjfñasldkfj añlskdjfañsdkfj añslkdjfañslkdjf </p>
                </div>
            </div>

        </div>
    </div>

</div>
