.flex-container {
    display: flex;
    flex-flow: column nowrap;
    margin: var(--margin-md);
    margin-top: 6rem;
    padding: var(--padding-md);
}

.flex {
    display: flex;
    flex-flow: column;
    margin-bottom: var(--margin-md);
}

.portfolio-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: var(--margin-md);
    gap: var(--gap-md);
}

.portfolio-card {
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    max-width: 280px;
    max-height: 600px;
}

.portfolio-card-element {
    padding: var(--padding-md);
}

hr {
    border-width: 5px;
    border-radius: var(--border-radius);
    border-color: var(--secondary-color);
    margin: 0;
}

img{
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    max-width: 300px;
    max-height: auto;
}

p {
    color: var(--p2-color);
}