<footer class="container-fluid">
    <hr>
    <div class="footer-container">

        <div class="footer-element">
            <a href="">
                <img src="assets/images/virel_icon.png" alt="Logo">
                <span>© 2025 Virel, Inc</span>
            </a>
        </div>

        <div class="footer-element">
            <div class="social-media">
                <a href=""><img class="icon" src="assets/images/ig_logo.png" alt="Instagram"></a>
                <a href=""><img class="icon" src="assets/images/fb_logo.png" alt="Facebook"></a>
                <a href=""><img class="icon" src="assets/images/x_logo.png" alt="Twitter"></a>
            </div>
        </div>

    </div>
</footer>