<header class="container-fluid">
    <div class="flex-container">

        <div class="header-container">
            <a class="navbar-brand" href="">
                <img src="assets/images/virel_logo_noBg.png" alt="Logo">
                <span class="title">Virel</span>
            </a>
        </div>

        <div class="header-container">
            <a class="header-element" href="">Inicio</a>
            <a class="header-element" href="form">Cotizacion</a>
            <a class="header-element" href="portfolio">Portafolio</a>
            <a class="header-element" href="about_us">Nosotros</a>
            <a class="header-element" href="">FAQ</a>
        </div>

        <div class="login-container">
            <button type="button" class="btn btn-outline-primary">Iniciar sesión</button>
            <button type="button" class="btn btn-primary">Registrarse</button>
        </div>

    </div>
</header>