<div class="features-container m-md">

    <h2>Servicios Que Ofrecemos</h2> <hr>

    <div class="features-section-container">

        <div class="features-container card">
            <div class="features-element">
                <div class="element-title">Impresión 3D Odontológica</div>
                <span class="material-symbols-outlined">dentistry</span>
            </div>
            <ul>
                <li>Pensada para doctores, técnicos dentales y estudiantes.</li>
                <li>Servicios con diseño CAD incluidos si se requiere:
                    <ul>
                        <li>Modelos con zócalo</li>
                        <li>Modelos articulados</li>
                        <li>Modelos estéticos</li>
                        <li>Modelos para alineadores</li>
                    </ul>
                </li>
                <li>Impresiones de alta precisión con resinas dentales certificadas.</li>
                <li>Precios accesibles para estudiantes y soluciones profesionales a medida.</li>
            </ul>
        </div>

        <div class="features-container card">
            <div class="features-element">
                <div class="element-title">Impresión 3D en Resina</div>
                <span class="material-symbols-outlined">polymer</span>
            </div>
            <ul>
                <li>Alta precisión para piezas pequeñas y detalladas.</li>
                <li>Aplicaciones: dental, mockups, prototipos estéticos, piezas de joyería, etc.</li>
                <li>Materiales: estándar, dental, flexible, transparente, etc.</li>
            </ul>
        </div>

        <div class="features-container card">
            <div class="features-element">
                <div class="element-title">Impresión 3D en Filamento (FDM)</div>
                <span class="material-symbols-outlined">texture</span>
            </div>
            <ul>
                <li>Ideal para prototipos grandes, piezas funcionales, soportes o estructuras.</li>
                <li>Materiales: PLA, TPU, entre otros.</li>
                <li>Opciones de acabado y postprocesado.</li>
                <li>Asesoría personalizada para optimizar tus modelos.</li>
              
            </ul>
        </div>

    </div>
</div>
