<div class="features-container">

    <h2>Servicios Que Ofrecemos</h2> <hr>

    <div class="grid-container">

        <div class="grid-element">
            <div class="element-title">Featured title</div>
            <p class="element-txt">Paragraph of text beneath the heading to explain the heading.</p>
            <span class="material-symbols-outlined element-img">print_add</span>
        </div>

        <div class="grid-element">
            <div class="element-title">Featured title</div>
            <p class="element-txt">Paragraph of text beneath the heading to explain the heading.</p>
            <span class="material-symbols-outlined element-img">print_add</span>
        </div>

        <div class="grid-element">
            <div class="element-title">Featured title</div>
            <p class="element-txt">Paragraph of text beneath the heading to explain the heading.</p>
            <span class="material-symbols-outlined element-img">print_add</span>
        </div>

        <div class="grid-element">
            <div class="element-title">Featured title</div>
            <p class="element-txt">Paragraph of text beneath the heading to explain the heading.</p>
            <span class="material-symbols-outlined element-img">print_add</span>
        </div>

    </div>
</div>