<div class="flex-container">
    <div class="text-container left">
        <h1>Construido con precisión. Inteligencia en cada capa</h1>
        <p>Desde el diseño hasta la pieza final, integramos tecnología avanzada y control inteligente en cada etapa del proceso. Creamos soluciones de impresión 3D que garantizan exactitud, eficiencia y resultados personalizados para cada industria.</p>
        <button type="button" class="btn btn-primary">Cotizar</button>
    </div>

    <div class="video-container right">
        <video autoplay loop muted disablePictureInPicture playsinline>
            <source src="assets/videos/3d_print.mp4" type="video/mp4">
        </video>
    </div>
</div>