<div class="flex-container">
    <div class="text-container left">
        <h1>Construido con precisión. Inteligencia en cada capa</h1>
        <p>Soluciones de impresión 3D profesional en resina y filamento: prototipado rápido, modelos dentales, piezas funcionales.</p>
        <button type="button" class="btn btn-primary" (click)="goToForm()">Solicitar impresión</button>
    </div>

    <div class="video-container right">
        <video autoplay loop muted disablePictureInPicture playsinline>
            <source src="assets/videos/3d_print.mp4" type="video/mp4">
        </video>
    </div>
</div>