<div class="flex-container">
    <h1>Preguntas Frecuentes</h1>
    <hr>

    <div class="flex-x faq-container">

        <div class="flex-y faq-card">
            <div class="flex-x faq-title">
                <h5>¿Cómo preparo mi archivo STL para impresión?</h5>
                <span class="material-symbols-outlined">barcode</span>
            </div>
            <p>¿Cómo preparo mi archivo STL para impresión? ¿Cómo preparo mi archivo STL para impresión? ¿Cómo preparo mi archivo STL para impresión? ¿Cómo preparo mi archivo STL para impresión? ¿Cómo preparo mi archivo STL para impresión?</p>
        </div>

    </div>
</div>