<div class="flex-container">

    <div class="info-container">
        <h3>Virel - Impresiones 3D</h3>
        <p class="date">Mayo 2025</p>
        <hr>

        <p class="info-text">Breve historia del negocio:Iniciamos como un proyecto impulsado por la pasión por el diseño, la precisión y la innovación, y nos hemos consolidado como una solución confiable para transformar ideas en objetos reales.</p>

        <h4>Misión</h4>
        <p class="info-text">Breve misión del negocio:  Accesibilidad, precisión, atención directa</p>
        
        <h4>Enfoque</h4>
        <p class="info-text">Nos especializamos en tres áreas clave: Prototipado funcional y piezas técnicas mediante impresión FDM. Modelos detallados y artísticos con impresión en resina. Aplicaciones odontológicas de alta precisión, dirigidas a clínicas, estudiantes y laboratorios.</p>
    </div>

    <div class="img-container">

        <div class="img-elemet"> 
            <img src="https://preview.redd.it/my-3d-printing-corner-my-workshop-v0-ckjxnh6zbzid1.jpeg?width=1080&crop=smart&auto=webp&s=e09311ea5085680610952b0368934b62bf3cecbb" alt="print">
            <p class="info-img">Lugar de trabajo impresion. Ciudad de México, Mexico</p>
        </div>

        <div class="img-elemet"> 
             <img src="../../../assets/images/bambu Lab A1.jpg" alt="Bambu Lab A1">
            <p class="info-img">Impresoras: Bambu Lab A1</p>
        </div>
        
        <div class="img-elemet"> 
          <img src="../../../assets/images/saturn 4 ultra.jpg" alt="Saturn 4 Ultra">
          <p class="info-img">Elegoo Saturn 4 Ultra</p>
        </div>

    </div>

</div>
