<div class="flex-container">

    <div class="info-container">
        <h3>Virel</h3>
        <p class="date">Mayo 2025</p>
        <hr>

        <p class="info-text">Breve historia del negocio: is an anime-inspired collection of 10,000 characters designed by Steamboy, former Character Art Director for Overwatch.</p>

        <h4>Misión</h4>
        <p class="info-text">Breve mision del negocio:  accesibilidad, precisión, atención directa</p>
        
        <h4>Enfoque</h4>
        <p class="info-text">Breve enfoque del negocio: is an anime-inspired collection of 10,000 characters designed by Steamboy, former Character Art Director for Overwatch.</p>
    </div>

    <div class="img-container">

        <div class="img-elemet"> 
            <img src="https://preview.redd.it/my-3d-printing-corner-my-workshop-v0-ckjxnh6zbzid1.jpeg?width=1080&crop=smart&auto=webp&s=e09311ea5085680610952b0368934b62bf3cecbb" alt="print">
            <p class="info-img">Lugar de trabajo impresion. Ciudad de México, Mexico</p>
        </div>

        <div class="img-elemet"> 
            <img src="https://preview.redd.it/my-3d-printing-corner-my-workshop-v0-ckjxnh6zbzid1.jpeg?width=1080&crop=smart&auto=webp&s=e09311ea5085680610952b0368934b62bf3cecbb" alt="print">
            <p class="info-img">Lugar de trabajo impresion. Ciudad de México, Mexico</p>
        </div>
        
        <div class="img-elemet"> 
            <img src="https://preview.redd.it/my-3d-printing-corner-my-workshop-v0-ckjxnh6zbzid1.jpeg?width=1080&crop=smart&auto=webp&s=e09311ea5085680610952b0368934b62bf3cecbb" alt="print">
            <p class="info-img">Lugar de trabajo impresion. Ciudad de México, Mexico</p>
        </div>

    </div>

</div>
