.flex-container {
    display: flex;
    flex-flow: column;
    margin: var(--margin-lg);
    margin-top: 7rem;
    padding: var(--padding-md);
    max-width: 65%;
}

.flex-x {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: var(--gap-md);
    margin-bottom: var(--margin-md);
}

.split-input {
    width: 50%;
}

.full-input {
    width: 100%;
}

hr {
    margin: 0;
    margin-bottom: var(--margin-md);
    border-width: 5px;
    border-radius: var(--border-radius);
    border-color: var(--secondary-color);
}

.profile-options {
    margin-bottom: var(--margin-md);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--accent-color);
    color: var(--p-color);
}

.btn-primary:hover {
    background-color: var(--bg-hover-color)
}